KAVE_VERSION=latest
KAVE_HTTP_PORT=18080
KAVE_GRPC_PORT=19090
KAVE_PROXY_PORT=18081
KAVE_POSTGRES_HOST=postgres
KAVE_POSTGRES_PORT=5432
KAVE_POSTGRES_USER=kave
KAVE_POSTGRES_PASSWORD=change-me
KAVE_POSTGRES_DBNAME=kave
KAVE_POSTGRES_SSLMODE=disable
