class Kave < Formula
  desc "Control plane for AI agents"
  homepage "https://kave.io"
  version "{{ .Version }}"

  on_macos do
    on_arm do
      url "https://github.com/kave-io/kave/releases/download/v{{ .Version }}/kave_{{ .Version }}_darwin_arm64.tar.gz"
      sha256 "{{ .ArtifactHash }}"
    end

    on_intel do
      url "https://github.com/kave-io/kave/releases/download/v{{ .Version }}/kave_{{ .Version }}_darwin_amd64.tar.gz"
      sha256 "{{ .ArtifactHash }}"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/kave-io/kave/releases/download/v{{ .Version }}/kave_{{ .Version }}_linux_arm64.tar.gz"
      sha256 "{{ .ArtifactHash }}"
    end

    on_intel do
      url "https://github.com/kave-io/kave/releases/download/v{{ .Version }}/kave_{{ .Version }}_linux_amd64.tar.gz"
      sha256 "{{ .ArtifactHash }}"
    end
  end

  def install
    bin.install "kave"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/kave version")
  end
end
